#user-asset-container {
    margin-top: 20px;
    width: var(--main-content-width);
    min-height: 86vh;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#user-asset-btns {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--third-color);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.user-asset-btn {
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: var(--main-color);
    background-color: transparent;
    cursor: pointer;
    transition: var(--main-transition);
}

.user-asset-btn:hover {
    background-color: var(--hover-color-2);
}

.asset-live-container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#user-asset-content-container {
    margin-top: 30px;
    width: 100%;
}

.post-list-item-container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.friend-list-item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friend-list-items {
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.friend-list-label {
    margin-bottom: 20px;
    font-size: 18px;
}

.btn-active {
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
}