#create-live-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create-live-upload {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    word-break: break-all;
}

#create-live-upload p {
    font-size: 14px;
}

/* MUI */

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: var(--main-color) !important;
}