.user-friend-item-container {
    border: 1px solid var(--border-color);
}

.user-friend-item-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.user-friend-item-btns {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}