#chatroom-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#messages-list{
    margin-bottom: 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 10px;
    height: 100%;
    background-color: var(--secondary-bg-color);
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    word-break: break-all;
}

#message-form {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    z-index: 3;
}

/* MUI */
.css-mbfek {
    color: var(--main-color) !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    color: var(--main-color) !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    background-color: var(--secondary-bg-color);
}

.css-83ijpv-MuiTypography-root {
    color: var(--main-color) !important;
}