#chatroom-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#messages-list{
    margin-bottom: 10px;
    padding-bottom: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 10px;
    height: 100%;
    background-color: var(--secondary-bg-color);
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    word-break: break-all;
}

#message-form {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    z-index: 10;
}

/* Screenshot upload */
#screenshot-upload-label {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#screenshot-upload-label:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#screenshot-upload-icon {
    width: 35px;
    height: 35px;
    z-index: 10;
}

#stream-upload-preview {
    box-sizing: border-box;
    position: relative;
    bottom: 33vh;
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
}

#stream-upload-preview-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

#stream-upload-cancel-btn {
    border: none;
    position: relative;
    bottom: 90px;
    left: 310px;
    background-color: transparent;
    cursor: pointer;
}

#stream-upload-cancel-icon {
    width: 25px;
    height: 25px;
    color: var(--main-bg-color);
}