#live-item-card {
    position: relative;
    width: 100%;
    color: var(--main-content-color);
    /* background: rgba(255, 255, 255, 0.90); */
    background: var(--secondary-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid var(--border-color);
}

.live-item-streaming-icon {
    position: absolute;
    top: 10px;
    right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    z-index: 50;
}

.live-item-streaming-text {
    font-weight: 500;
    color: var(--main-record-color);
}

.live-item-streaming-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-record-color);
    opacity: .8;
}

.live-item-streaming-dot:after {
    content: '';
    display: block;
    border: 1px solid #e50040;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    right: 1px;
    bottom: 1px;
    position: relative;
    opacity: 0;
    -webkit-animation: circle 2s linear .2s infinite;
            animation: circle 2s linear .2s infinite;
    }

@-webkit-keyframes circle {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1); 
        opacity: 0; 
    }

    50% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25); 
        opacity: .8; 
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0; 
    } 
}

@keyframes circle {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0; 
        }

    50% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
        opacity: .8; 
        }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
        } 
}