@import '../../global.css';

.home-sidebar {
    margin-top: 30px;
    width: 30%;
    box-sizing: border-box;
}

#home-left-sidebar {
    margin-bottom: 30px;
    padding: 15px 10px;
    border: 1px solid var(--border-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

#sidebar-list {
    width: 100%;
}

#sidebar-avatar {
    margin-bottom: 5px;
    width: 80px;
    height: 80px;
}

#sidebar-user-info {
    margin-bottom: 10px;
}

#sidebar-user-name {
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--third-color);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.sidebar-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar-link {
    padding: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: var(--hover-color-2);
    transition: var(--main-transition);
}