#create-post-container {
    margin-top: 50px;
    min-height:90vh;
}

#title-inputs-container {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

#create-post-button-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/* MUI */
/* .css-1o6z5ng {
    color: var(--main-color);
} */