#signin-container {
    height: 100%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-logo{
    height: 3rem;
    width: auto;
}

#signin-paper{
    padding: 10px 25px;
    height: 30rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.signin-inputs {
    width: 100%;
}

#signin-email,
#signin-password {
    color: var(--main-bg-color) !important;
}
