#home-container {
    margin: auto;
    width: var(--main-content-width);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

/* Sidebar */
.home-sidebar {
    margin-top: 30px;
    width: 30%;
    /* background-color: aliceblue; */
}

#home-right-sidebar {
    margin-top: 150px;
    height: 900px;
}

/* Posts */
#posts-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}