#viewer-container{
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#viewer-chatroom {
    margin-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
}